<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>修改密码</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" th:href="@{/static/style/lib/layui-v2.5.4/css/layui.css}" media="all">
		<script th:src="@{/static/style/js/jquery-1.11.3.min.js}" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" th:href="@{/static/style/css/public.css}" media="all">
		<style>
			.layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
			#msg_pwd{
			    /* margin-left: 150px; */
			}
    </style>
	</head>
	<body>
		<div class="layuimini-container">
			<div class="layuimini-main">
				<form action="" method="post">
					<div class="layui-form layuimini-form">
						<div class="layui-form-item">
							<label class="layui-form-label required">旧的密码</label>
							<div class="layui-input-block">
								<input type="password" name="old_password" lay-verify="required" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码"
								 value="" class="layui-input">
								<tip>填写自己账号的旧的密码。</tip>
							</div>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label required">输入新密码</label>
							<div class="layui-input-block">
								<input type="password" id="newpwd1" name="newpwd1" lay-verify="required" lay-reqtext="输入新密码不能为空" placeholder="请输入新的密码"
								 value="" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label required">确认新密码</label>
							<div class="layui-input-block">
								<input type="password" id="newpwd2" name="newpwd2" lay-verify="required" lay-reqtext="确认新密码不能为空" placeholder="请确认新的密码"
								 value="" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<p id="msg_pwd"></p>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" id="btn_sub" lay-submit lay-filter="btn_sub">确认保存</button>
							</div>
						</div>
					</div>
					<!-- <input type="submit" value=""/> -->
				</form>
			</div>
		</div>
		<script th:src="@{/static/style/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
		<script>
			var obj;
			var flag;
			$(function() {
				
				
				// if (checkSys()) {
				//     $("#layuiminiHomeTabIframe").attr("src", "zyxz.html");
				//     obj = getInfoObj();
				//     $("#info").html("欢迎：" + obj.stdName + "[" + obj.stdID + "]")
				// }
				
				
				
				$('#newpwd1').on('input propertychange', function() {
					checkModiPwdstat();
				});

				$('#newpwd2').on('input propertychange', function() {
					checkModiPwdstat();
				});
				$("#btn_sub").on("click", function(e) {
					if (!flag) {
						if (!checkModiPwdstat()) {
							e.preventDefault();
							e.stopPropagation();
							return;
						}
					}
					modpwd();
				});
				$("#modpwd").on("click", function() {
					flag = false; //打开对话框时清除原有状态
					$("#btn_sub").attr("disabled", true); //使按钮无法点击
					$("#msg_pwd").html("");
					$("#newpwd1").val("");
					$("#newpwd2").val("");
				});


				//ajax 需要变动
				function modpwd() {
					$.ajax({
						type: "post",
						url: "http://" + window.location.host + "/modifyPassword",
						data: {
							// stdID: obj.stdID,
							
							pwd: $("#newpwd1").val()
						},
						dataType: "json",
						async: true,
						success: function(result) {
							if (result.msg != 'failed') {
								sessionStorage.clear();
								alert('修改密码成功');
								$(location).attr('href', './login.html');
							} else {
								alert("修改密码失败！");
							}

						},
						error: function() {
							alert("err");
						}
					});
				}

				function checkModiPwdstat() {
					flag = true;
					//input propertychange即实时监控键盘输入包括粘贴
					var pwd = $.trim($("#newpwd1").val());
					//获取this，即ipwd的val()值，trim函数的作用是去除空格
					var rpwd = $.trim($("#newpwd2").val());

					if (pwd == "" || rpwd == "") {
						//若都为空，则提示密码不能为空，为了用户体验（在界面上用required同时做了处理）
						$("#msg_pwd").html("<font color='red'>密码不能为空</font>");
						$("#btn_sub").attr("disabled", true); //使按钮无法点击
						return false;
					} else {
						if (pwd == rpwd) { //相同则提示密码匹配
							$("#msg_pwd").html("<font color='green'>两次密码匹配通过</font>");
							$("# 0-+------------------11").attr("disabled", false); //使按钮无法点击
							return true;
						} else { //不相同则提示密码匹配
							$("#msg_pwd").html("<font color='red'>两次密码不匹配</font>");
							$("#btn_sub").attr("disabled", true);
							return false;
						}
					}
				};

			});

			layui.use(['form', 'layer'], function() {
				var form = layui.form,
					layer = layui.layer,
					$ = layui.jquery;

				//监听提交
				form.on('submit(btn_sub)', function(data) {
					layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					})
// 					$.ajax({
// 						type: "post",
// 						url: "http://" + window.location.host + "/modifyPassword",
// 						data: {
// 							stdID: obj.stdID,
// 							pwd: $("#newpwd1").val()
// 						},
// 						dataType: "json",
// 						async: true,
// 						success: function(result) {
// 							if (result.msg != 'failed') {
// 								sessionStorage.clear();
// 								alert('修改密码成功');
// 								$(location).attr('href', './login.html');
// 							} else {
// 								alert("修改密码失败！");
// 							}
// 
// 						},
// 						error: function() {
// 							alert("err");
// 						}
// 					});
					return false;
				});

			})
		</script>
	</body>
</html>
