<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.exam.dao.AdminRoleMapper">
  <resultMap id="BaseResultMap" type="com.henu.exam.bean.AdminRole">
    <id column="ADMINROLEID" jdbcType="VARCHAR" property="adminroleid" />
    <result column="ADMINID" jdbcType="VARCHAR" property="adminid" />
    <result column="ADMINPRIVILEGE" jdbcType="VARCHAR" property="adminprivilege" />
  </resultMap>
  <sql id="Base_Column_List">
    ADMINROLEID, ADMINID, ADMINPRIVILEGE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ADMINROLE
    where ADMINROLEID = #{adminroleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ADMINROLE
    where ADMINROLEID = #{adminroleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.henu.exam.bean.AdminRole">
    insert into ADMINROLE (ADMINROLEID, ADMINID, ADMINPRIVILEGE
      )
    values (#{adminroleid,jdbcType=VARCHAR}, #{adminid,jdbcType=VARCHAR}, #{adminprivilege,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.henu.exam.bean.AdminRole">
    insert into ADMINROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminroleid != null">
        ADMINROLEID,
      </if>
      <if test="adminid != null">
        ADMINID,
      </if>
      <if test="adminprivilege != null">
        ADMINPRIVILEGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminroleid != null">
        #{adminroleid,jdbcType=VARCHAR},
      </if>
      <if test="adminid != null">
        #{adminid,jdbcType=VARCHAR},
      </if>
      <if test="adminprivilege != null">
        #{adminprivilege,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.henu.exam.bean.AdminRole">
    update ADMINROLE
    <set>
      <if test="adminid != null">
        ADMINID = #{adminid,jdbcType=VARCHAR},
      </if>
      <if test="adminprivilege != null">
        ADMINPRIVILEGE = #{adminprivilege,jdbcType=VARCHAR},
      </if>
    </set>
    where ADMINROLEID = #{adminroleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.henu.exam.bean.AdminRole">
    update ADMINROLE
    set ADMINID = #{adminid,jdbcType=VARCHAR},
      ADMINPRIVILEGE = #{adminprivilege,jdbcType=VARCHAR}
    where ADMINROLEID = #{adminroleid,jdbcType=VARCHAR}
  </update>
</mapper>