<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.exam.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.henu.exam.bean.Company">
    <id column="COMID" jdbcType="VARCHAR" property="comid" />
    <result column="COMNAME" jdbcType="VARCHAR" property="comname" />
    <result column="COMPERSONS" jdbcType="DECIMAL" property="compersons" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    COMID, COMNAME, COMPERSONS, NOTE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMPANY
    where COMID = #{comid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from COMPANY
    where COMID = #{comid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.henu.exam.bean.Company">
    insert into COMPANY (COMID, COMNAME, COMPERSONS, 
      NOTE)
    values (#{comid,jdbcType=VARCHAR}, #{comname,jdbcType=VARCHAR}, #{compersons,jdbcType=DECIMAL}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.henu.exam.bean.Company">
    insert into COMPANY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comid != null">
        COMID,
      </if>
      <if test="comname != null">
        COMNAME,
      </if>
      <if test="compersons != null">
        COMPERSONS,
      </if>
      <if test="note != null">
        NOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comid != null">
        #{comid,jdbcType=VARCHAR},
      </if>
      <if test="comname != null">
        #{comname,jdbcType=VARCHAR},
      </if>
      <if test="compersons != null">
        #{compersons,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.henu.exam.bean.Company">
    update COMPANY
    <set>
      <if test="comname != null">
        COMNAME = #{comname,jdbcType=VARCHAR},
      </if>
      <if test="compersons != null">
        COMPERSONS = #{compersons,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where COMID = #{comid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.henu.exam.bean.Company">
    update COMPANY
    set COMNAME = #{comname,jdbcType=VARCHAR},
      COMPERSONS = #{compersons,jdbcType=DECIMAL},
      NOTE = #{note,jdbcType=VARCHAR}
    where COMID = #{comid,jdbcType=VARCHAR}
  </update>
</mapper>