<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.exam.dao.DepartAdminRoleMapper">
  <resultMap id="BaseResultMap" type="com.henu.exam.bean.DepartAdminRole">
    <id column="DEPARTADMINROLE" jdbcType="VARCHAR" property="departadminrole" />
    <result column="DEPARTADMINID" jdbcType="VARCHAR" property="departadminid" />
    <result column="DEPARTADMINPRIVILEGE" jdbcType="VARCHAR" property="departadminprivilege" />
  </resultMap>
  <sql id="Base_Column_List">
    DEPARTADMINROLE, DEPARTADMINID, DEPARTADMINPRIVILEGE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DEPARTADMINROLE
    where DEPARTADMINROLE = #{departadminrole,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DEPARTADMINROLE
    where DEPARTADMINROLE = #{departadminrole,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.henu.exam.bean.DepartAdminRole">
    insert into DEPARTADMINROLE (DEPARTADMINROLE, DEPARTADMINID, DEPARTADMINPRIVILEGE
      )
    values (#{departadminrole,jdbcType=VARCHAR}, #{departadminid,jdbcType=VARCHAR}, #{departadminprivilege,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.henu.exam.bean.DepartAdminRole">
    insert into DEPARTADMINROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departadminrole != null">
        DEPARTADMINROLE,
      </if>
      <if test="departadminid != null">
        DEPARTADMINID,
      </if>
      <if test="departadminprivilege != null">
        DEPARTADMINPRIVILEGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departadminrole != null">
        #{departadminrole,jdbcType=VARCHAR},
      </if>
      <if test="departadminid != null">
        #{departadminid,jdbcType=VARCHAR},
      </if>
      <if test="departadminprivilege != null">
        #{departadminprivilege,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.henu.exam.bean.DepartAdminRole">
    update DEPARTADMINROLE
    <set>
      <if test="departadminid != null">
        DEPARTADMINID = #{departadminid,jdbcType=VARCHAR},
      </if>
      <if test="departadminprivilege != null">
        DEPARTADMINPRIVILEGE = #{departadminprivilege,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPARTADMINROLE = #{departadminrole,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.henu.exam.bean.DepartAdminRole">
    update DEPARTADMINROLE
    set DEPARTADMINID = #{departadminid,jdbcType=VARCHAR},
      DEPARTADMINPRIVILEGE = #{departadminprivilege,jdbcType=VARCHAR}
    where DEPARTADMINROLE = #{departadminrole,jdbcType=VARCHAR}
  </update>
</mapper>