<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.exam.dao.PaperInfoMapper">
  <resultMap id="BaseResultMap" type="com.henu.exam.bean.PaperInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="BEGDATE" jdbcType="TIMESTAMP" property="begdate" />
    <result column="ENDDATE" jdbcType="TIMESTAMP" property="enddate" />
    <result column="DURATION" jdbcType="DECIMAL" property="duration" />
    <result column="TOTALSCORE" jdbcType="DECIMAL" property="totalscore" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="QURSTIONDBID" jdbcType="VARCHAR" property="qurstiondbid" />
    <result column="POSTER" jdbcType="TIMESTAMP" property="poster" />
    <result column="SHOWMODE" jdbcType="DECIMAL" property="showmode" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="TOTALQ0NUM" jdbcType="DECIMAL" property="totalq0num" />
    <result column="TOTALQ1NUM" jdbcType="DECIMAL" property="totalq1num" />
    <result column="TOTALQ2NUM" jdbcType="DECIMAL" property="totalq2num" />
    <result column="TOTALQ3NUM" jdbcType="DECIMAL" property="totalq3num" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, STATUS, BEGDATE, ENDDATE, DURATION, TOTALSCORE, REMARK, QURSTIONDBID, POSTER, 
    SHOWMODE, CREATOR, TOTALQ0NUM, TOTALQ1NUM, TOTALQ2NUM, TOTALQ3NUM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PAPERINFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PAPERINFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.henu.exam.bean.PaperInfo">
    insert into PAPERINFO (ID, NAME, STATUS, 
      BEGDATE, ENDDATE, DURATION, 
      TOTALSCORE, REMARK, QURSTIONDBID, 
      POSTER, SHOWMODE, CREATOR, 
      TOTALQ0NUM, TOTALQ1NUM, TOTALQ2NUM, 
      TOTALQ3NUM)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      to_date(#{begdate,jdbcType=TIMESTAMP}, 'YYYY/MM/DD HH24:mi:ss'), to_date(#{enddate,jdbcType=TIMESTAMP},'YYYY/MM/DD HH24:mi:ss'), #{duration,jdbcType=DECIMAL},
      #{totalscore,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{qurstiondbid,jdbcType=VARCHAR}, 
      to_date(#{poster,jdbcType=TIMESTAMP,}, 'YYYY/MM/DD HH24:mi:ss'), #{showmode,jdbcType=DECIMAL}, #{creator,jdbcType=VARCHAR},
      #{totalq0num,jdbcType=DECIMAL}, #{totalq1num,jdbcType=DECIMAL}, #{totalq2num,jdbcType=DECIMAL},
      #{totalq3num,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.henu.exam.bean.PaperInfo">
    insert into PAPERINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="begdate != null">
        BEGDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="totalscore != null">
        TOTALSCORE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="qurstiondbid != null">
        QURSTIONDBID,
      </if>
      <if test="poster != null">
        POSTER,
      </if>
      <if test="showmode != null">
        SHOWMODE,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="totalq0num != null">
        TOTALQ0NUM,
      </if>
      <if test="totalq1num != null">
        TOTALQ1NUM,
      </if>
      <if test="totalq2num != null">
        TOTALQ2NUM,
      </if>
      <if test="totalq3num != null">
        TOTALQ3NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="begdate != null">
        #{begdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=DECIMAL},
      </if>
      <if test="totalscore != null">
        #{totalscore,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="qurstiondbid != null">
        #{qurstiondbid,jdbcType=VARCHAR},
      </if>
      <if test="poster != null">
        #{poster,jdbcType=TIMESTAMP},
      </if>
      <if test="showmode != null">
        #{showmode,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="totalq0num != null">
        #{totalq0num,jdbcType=DECIMAL},
      </if>
      <if test="totalq1num != null">
        #{totalq1num,jdbcType=DECIMAL},
      </if>
      <if test="totalq2num != null">
        #{totalq2num,jdbcType=DECIMAL},
      </if>
      <if test="totalq3num != null">
        #{totalq3num,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.henu.exam.bean.PaperInfo">
    update PAPERINFO
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="begdate != null">
        BEGDATE = #{begdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        DURATION = #{duration,jdbcType=DECIMAL},
      </if>
      <if test="totalscore != null">
        TOTALSCORE = #{totalscore,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="qurstiondbid != null">
        QURSTIONDBID = #{qurstiondbid,jdbcType=VARCHAR},
      </if>
      <if test="poster != null">
        POSTER = #{poster,jdbcType=TIMESTAMP},
      </if>
      <if test="showmode != null">
        SHOWMODE = #{showmode,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="totalq0num != null">
        TOTALQ0NUM = #{totalq0num,jdbcType=DECIMAL},
      </if>
      <if test="totalq1num != null">
        TOTALQ1NUM = #{totalq1num,jdbcType=DECIMAL},
      </if>
      <if test="totalq2num != null">
        TOTALQ2NUM = #{totalq2num,jdbcType=DECIMAL},
      </if>
      <if test="totalq3num != null">
        TOTALQ3NUM = #{totalq3num,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.henu.exam.bean.PaperInfo">
    update PAPERINFO
    set NAME = #{name,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      BEGDATE = #{begdate,jdbcType=TIMESTAMP},
      ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      DURATION = #{duration,jdbcType=DECIMAL},
      TOTALSCORE = #{totalscore,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      QURSTIONDBID = #{qurstiondbid,jdbcType=VARCHAR},
      POSTER = #{poster,jdbcType=TIMESTAMP},
      SHOWMODE = #{showmode,jdbcType=DECIMAL},
      CREATOR = #{creator,jdbcType=VARCHAR},
      TOTALQ0NUM = #{totalq0num,jdbcType=DECIMAL},
      TOTALQ1NUM = #{totalq1num,jdbcType=DECIMAL},
      TOTALQ2NUM = #{totalq2num,jdbcType=DECIMAL},
      TOTALQ3NUM = #{totalq3num,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>