<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.exam.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.henu.exam.bean.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="com" jdbcType="VARCHAR" property="com" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, department, com, title, phone, position, Email, create_date, status, note
  </sql>
  <select id="login" parameterType="java.lang.String" resultType="com.henu.exam.bean.User">
    select u.*
        from user u
        left join user_role sru on u.id= sru.user_id
        left join role r on sru.role_id=r.id
        where username= #{username} and r.name=#{userType}
  </select>

  <delete id="deleteByUserId" parameterType="java.lang.String">
    delete from user
        where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="register" parameterType="com.henu.exam.bean.User">
    insert into user (id, username, password, 
      department, com, title,
      phone, position, Email, 
      status, create_date, note)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{com,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR})
  </insert>

  <update id="updateUser" parameterType="com.henu.exam.bean.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="com != null">
        com = #{com,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>